

.faqContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.faqContent {
    width: 100%;
    height: 70vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    background-color: #667eea;
}

.faqContent h2 {
    font-size: 2.6rem;
    color: #f0f0f0;
}

.faqContent h3 {
    width: 70%;
    margin-top: 20px;
    color: #dadada;
    font-size: 1rem;
}

.faqInputsContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
}

.faqInput {
    width: 40%;
    height: 60px;
    border: 0;
    padding-left: 10px;
}

.faqButton {
    width: 10%;
    height: 60px;
    margin-left: 10px;
}

.faqQuestionsContent {
    position: relative;
    bottom: 7vh;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 30px;
    z-index: 9999;
    border-radius: 5px;
}

.faqQuestionsFlex {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.faqQuestionsFlex div {
    width: 350px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4960c5;
    color: #e1e1e1;
    margin: 10px;
    transition: 0.2s all;
}

.faqQuestionsFlex div:hover {
    background-color: #4767f1;
}

.faqQuestionsFlex div small {
    margin-top: 30px;
}


@media screen and (max-width: 700px) {
    

    .faqContent h3 {
        width: 90%;
    }

    .faqInput {
        width: 70%;
    }

    .faqButton {
        width: 20%;
    }

    .faqQuestionsContent {
        width: 90%;
    }

    .faqQuestionsFlex div {
        width: 100%;
    }

}


